
*.log
*.ipch
*.sdf
*.opensdf
*.suo
*.obj
*.tlog
*.pdb
Libraries/Common.lib
*.pch
*.map
*.exe
/.vs/Mu Online Nuevo/v16
/Common/Release
/ConnectServer/Release
/Databases/Game
/Game/Release
/LoginServer/Release
/Release/Data
/Release/GameServerEvent/GameServer.conf.dmp
*.dmp
*.iobj
*.ipdb
*.lnk
/Release/offsets,maybe.txt
/Release/start.bat
/Server_Link/Release
/Release.rar
